{% extends 'car/base.html' %}

{% block content %}
    <div style="margin-left: 10%; width: 70%">
        <h2>Welcome</h2>
        <p>This site was created for educational purposes</p>
        <p>You can view it from three sides:</p>
        <p>- Unregistered user (position view)</p>
        <p>- Registered user (listed for the unregistered + can add a position to the order)</p>
        <p>- Dealer (The above + can add a new position, adjust their positions (edit and delete)), in the details of the
            position sees the number of views from registered users</p>

        <p>Data for already registered dealer with added item:</p>
        <p>- login:</p>
        <p>-password:</p>
    </div>
{% endblock %}